/.metadata/
Codefights/.classpath
Codefights/.project
Codefights/.settings/
Hackerrank/.classpath
Hackerrank/.project
Hackerrank/.settings/
LeetCode/.classpath
LeetCode/.project
LeetCode/.settings/
LeetCode/.gitignore
Hackerrank/.gitignore
Codefights/.gitignore
Codefights/.vscode/
arrays-algo/.classpath
arrays-algo/.project
arrays-algo/.settings/
ZolandoTest/.settings/org.eclipse.jdt.core.prefs
Glovo/.classpath
Glovo/.settings/org.eclipse.jdt.core.prefs
Glovo/.project
ZolandoTest/.classpath
ZolandoTest/.project
Tipico/.classpath
Tipico/.project
Tipico/.settings/org.eclipse.jdt.core.prefs
